.card {
    .container {
        @include Flex;
    }
}

.card__form {
    max-width: 400px;
    width: 100%;
    transform: translateX(350px);
}

.card__btn {
    transform: translate(300px, -65px);
}

.card__heading {
    color: #36536B;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
}

@media only screen and (max-width:1000px) {
    .card {
        .container {
            flex-direction: column;
            padding: 0;
        }
    }

    .card__form {
        transform: translate(-30px, -50px);
    }

    .card__heading {
        text-align: center;
    }
}

@media only screen and (max-width:500px) {
    .card__heading {
        font-size: 32px;
    }

    .card__form {
        max-width: 300px;
        transform: translate(10px, -50px);
    }

    .hero__put {
        padding: 16px 40px 14px 27px;
    }

    .hero__btn {
        margin: 0;
        padding: 0;
        position: relative;
        padding: 16px 80px 14px 70px;
        transform: translateX(0px);
        text-align: center;
    }
}